@model CursProject.Models.SurveyResponse
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    ViewData["Title"] = "Просмотр ответа";
}

<div class="container mt-4">
    <h2>Ответ на форму: @Model.SurveyTemplate.Title</h2>
    <p>Заполнено: @Model.SubmittedDate.ToLocalTime().ToString("g")</p>
    <p>
        Заполнил:
        @if (Model.User != null)
        {
            @Model.User.Email
        }
        else
        {
            <em>Информация о пользователе отсутствует</em>
        }
    </p>

    <!-- Контейнер для отображения формы с предзаполненными ответами -->
    <div id="surveyContainer"></div>
</div>

@section Scripts {
    <!-- Подключаем необходимые библиотеки SurveyJS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/survey-core/survey.core.min.js"></script>
    <script src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>
    <script src="https://unpkg.com/survey-creator-core/survey-creator-core.min.js"></script>
    <script src="https://unpkg.com/survey-creator-js/survey-creator-js.min.js"></script>
    <script src="https://unpkg.com/survey-core/themes/index.min.js"></script>
    <script>
        // Получаем JSON-схему шаблона.
        var jsonSchema = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.SurveyTemplate.JsonSchema));
        // Получаем данные ответа (ResponseData) – это строка с JSON.
        var surveyData = @Html.Raw(Model.ResponseData);

        // Создаем объект SurveyJS с заданной схемой.
        var survey = new Survey.Model(jsonSchema);

        // Устанавливаем данные ответа для предзаполнения формы.
        survey.data = surveyData;

        // Переводим форму в режим только для чтения.
        survey.mode = "display";

        // Рендерим форму в контейнере с id "surveyContainer".
        $("#surveyContainer").Survey({ model: survey });
    </script>
}